.ipynb_checkpoints/Drawing a 3D matplotlib plot-checkpoint.ipynb
.ipynb_checkpoints/iv-permutations-checkpoint.ipynb
.ipynb_checkpoints/List-Snippets-checkpoint.ipynb
.ipynb_checkpoints/Permutations with Inversion Vectors-checkpoint.ipynb
.ipynb_checkpoints/Quicksort-checkpoint.ipynb
